## Import Necessary Libraries

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver

### working with Webdriver to get source of Page

In [2]:
options = webdriver.ChromeOptions()

options.add_argument("--incognito")
browser = webdriver.Chrome("C:\chromedriver\chromedriver.exe", options = options)
browser.get("https://www.reed.co.uk/jobs/cleaner-jobs-in-london?proximity=0")

### Beautifying the source Page

In [3]:
src = browser.page_source
soup=BeautifulSoup(src)

#### Getting necessary elements from the page

In [9]:
company = soup.find_all('a', attrs = {'class' : 'gtmJobListingPostedBy'})
job = soup.find_all('h3', attrs = {'class' : 'title'})
city_zip = soup.find_all('li', attrs = {'class' : 'location'})
time = soup.find_all('div', attrs = {'class' : 'posted-by'})

In [12]:
company_name = []
job_title = []
posted_date = []
area = []
for i in range(len(company)):
    company_name.append(company[i].text.strip())
    job_title.append(job[i].text.strip())
    posted_date.append(time[i].text.strip())
    area.append(city_zip[i].text.strip())

#### Iterating over all pages of Site

In [16]:
for i in range(2,23):
    browser.get("https://www.reed.co.uk/jobs/cleaner-jobs-in-london?pageno="+str(i)+"&proximity=0")
    src = browser.page_source
    soup=BeautifulSoup(src)
    company = soup.find_all('a', attrs = {'class' : 'gtmJobListingPostedBy'})
    job = soup.find_all('h3', attrs = {'class' : 'title'})
    city_zip = soup.find_all('li', attrs = {'class' : 'location'})
    time = soup.find_all('div', attrs = {'class' : 'posted-by'})    
    for i in range(len(job)):
        company_name.append(company[i].text.strip())
        job_title.append(job[i].text.strip())
        area.append(city_zip[i].text.strip())
        posted_date.append(time[i].text.strip())

In [17]:
df = pd.DataFrame(list(zip(job_title, company_name, area, posted_date)), columns=['Role','Company','Area/Zip','Posted Datetime'])
df

,Role,Company,Area/Zip,Posted Datetime
0,Cleaner,Abbatt Property Recruitment,London\n London,Posted 23 July by Abbatt Property Recruitment\...
1,Cleaner,Abbatt Property Recruitment,London\n London,Posted 2 August by Abbatt Property Recruitment
2,Cleaner,Remora Cleaning,London\n London,Posted 5 days ago by Remora Cleaning\n\nEasy A...
3,Cleaner,Adecco,London\n London,Posted 19 July by Adecco \n\nEasy Apply
4,Cleaner,"Randstad Construction, Property and Engineering",London\n London,"Posted 28 July by Randstad Construction, Prope..."
...,...,...,...,...
545,Data Analyst,PROFESSIONAL PEOPLE,Ealing\n London,Posted 2 days ago by Corr Recruitment\n\nNew\n...
546,Room Attendant in London,INTEC SELECT LIMITED,Neasden\n London,Posted 5 August by REED Procurement & Supply C...
547,Facilities Manager,Corr Recruitment,London\n London,Posted 5 days ago by HR GO Recruitment
548,Caretaker/ Handyman,REED Procurement & Supply Chain,London\n London,Posted 23 July by GradBay\n\nFeatured\nEasy Apply
549,AI Research Scientist Grad Job £30K Artifici...,HR GO Recruitment,London\n London,Posted 25 July by Page Personnel Property & Co...

In [18]:
print(df.head())
df.shape

      Role                                          Company  \
0  Cleaner                      Abbatt Property Recruitment
1  Cleaner                      Abbatt Property Recruitment
2  Cleaner                                  Remora Cleaning
3  Cleaner                                           Adecco
4  Cleaner  Randstad Construction, Property and Engineering

                                 Area/Zip  \
0  London\n                        London
1  London\n                        London
2  London\n                        London
3  London\n                        London
4  London\n                        London

                                     Posted Datetime
0  Posted 23 July by Abbatt Property Recruitment\...
1     Posted 2 August by Abbatt Property Recruitment
2  Posted 5 days ago by Remora Cleaning\n\nEasy A...
3            Posted 19 July by Adecco \n\nEasy Apply
4  Posted 28 July by Randstad Construction, Prope...

(550, 4)

### Creating a CSV file of finding data

In [19]:
df.to_csv('Read-co-uk_Portal.csv')