## Import Necessary Libraries

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver

### working with Webdriver to get source of Page

In [2]:
options = webdriver.ChromeOptions()

options.add_argument("--incognito")
browser = webdriver.Chrome("C:\chromedriver\chromedriver.exe", options = options)
browser.get("https://www.bidvine.com/domestic-cleaning/near-me?utm_campaign=con-jack-domestic+cleaning-very+low&utm_medium=cpc&utm_source=Google&criteria_id=9061356&gclid=Cj0KCQjw6s2IBhCnARIsAP8RfAggCVfzU1JY6WTL9nuuTurPCYSP1U1IVtJ0Nm6sgrJ4xpdcjjjJA10aAloHEALw_wcB")

### Beautifying the source Page

In [3]:
src = browser.page_source
soup=BeautifulSoup(src)

#### Getting necessary elements from the page

In [6]:
city_zip = soup.find_all('p', attrs = {'class' : 'mb-0 text-truncate'})

In [7]:
print(len(city_zip))

86

In [8]:
area = []

for i in range(len(city_zip)):
    area.append(city_zip[i].text.strip())

In [48]:
from nltk import flatten

company_name_z = flatten(company_name)
job_title_z = flatten(job_title)
posted_date_z = flatten(posted_date)
area_z = flatten(area)
print(len(company_name_z))

412

In [12]:
df2 = pd.DataFrame(list(zip(area)), columns=['Area/Zip'])
df2.value_counts()

Area/Zip
Package discounts                     9
Discounts available                   4
Croydon, London CR0                   2
Enfield, London EN1                   2
Covent Garden, London WC2H            2
                                     ..
Hammersmith and Fulham, London W14    1
Hammersmith, London W6                1
Haringey, London N22                  1
Angel, London EC1V                    1
Woolwich, London E16                  1
Length: 64, dtype: int64

In [11]:
print(df2.head(20))
df2.shape

                      Area/Zip
0           Angel, London EC1V
1          Bexley, London DA17
2           Sutton, London SM1
3          Enfield, London EN1
4            Newham, London E7
5      Bermondsey, London SE17
6         Stratford, London E3
7           Acton, London NW10
8          Haringey, London N8
9        Colindale, London NW9
10        Tooting, London SW17
11         Putney, London SW15
12        Haringey, London N22
13        Edmonton, London N18
14         Discounts available
15       Uxbridge, London UB10
16              Free first job
17       Lewisham, London SE13
18  Covent Garden, London WC2H
19       Finchley, London NW11

(86, 1)

In [ ]:
for i in range(2,10):
    df.drop(df[df['Datetime_Posted']==str(i)+' months ago'].index, inplace = True)
    print(df.shape)

df.shape

### Creating a CSV file of finding data

In [10]:
df2.to_csv('Bidvine.csv')