## Import Necessary Libraries

In [49]:
import pandas as pd
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver

### working with Webdriver to get source of Page

In [23]:
options = webdriver.ChromeOptions()

options.add_argument("--incognito")
browser = webdriver.Chrome("C:\chromedriver\chromedriver.exe", options = options)
browser.get("https://www.cv-library.co.uk/cleaning-jobs-in-london")

### Beautifying the source Page

In [24]:
src = browser.page_source
soup=BeautifulSoup(src)

#### Getting necessary elements from the page

In [25]:
company = [d.find('a', attrs = {'class' : 'job__company-link'}) for d in  soup.find_all('p', attrs = {'class' : 'job__posted-by'}) if d.find_parents('div',attrs={'class' : 'job__main'})]
job = soup.find_all('h2', attrs = {'class' : 'job__title'})
city_zip = soup.find_all('span', attrs = {'class' : 'job__details-location'})
time = [d.find('span') for d in  soup.find_all('p', attrs = {'class' : 'job__posted-by'}) if d.find_parents('div',attrs={'class' : 'job__main'})]

In [37]:
print(len(company))
print(len(job))
print(len(city_zip))
print(len(time))

12
12
12
12

In [27]:
company_name = []
job_title = []
posted_date = []
area = []

for i in range(len(company)):
    company_name.append(company[i].text.strip())
    job_title.append(job[i].text.strip())
    posted_date.append(time[i].text.strip())
    area.append(city_zip[i].text.strip())

In [29]:
for i in range(2,18):
    browser.get("https://www.cv-library.co.uk/cleaning-jobs-in-london?page="+str(i))
    src = browser.page_source
    soup=BeautifulSoup(src)
    company = [d.find('a', attrs = {'class' : 'job__company-link'}) for d in  soup.find_all('p', attrs = {'class' : 'job__posted-by'}) if d.find_parents('div',attrs={'class' : 'job__main'})]
    job = soup.find_all('h2', attrs = {'class' : 'job__title'})
    city_zip = soup.find_all('span', attrs = {'class' : 'job__details-location'})
    time = [d.find('span') for d in  soup.find_all('p', attrs = {'class' : 'job__posted-by'}) if d.find_parents('div',attrs={'class' : 'job__main'})]    
    cn = []
    jt = []
    pd = []
    az = []
    for i in range(len(company)):
        cn.append(company[i].text.strip())
        jt.append(job[i].text.strip())
        pd.append(time[i].text.strip())
        az.append(city_zip[i].text.strip())
    company_name.append(cn)
    job_title.append(jt)
    posted_date.append(pd)
    area.append(az)

#### Iterating over all pages of Site

In [48]:
from nltk import flatten

company_name_z = flatten(company_name)
job_title_z = flatten(job_title)
posted_date_z = flatten(posted_date)
area_z = flatten(area)
print(len(company_name_z))

412

In [50]:
df2 = pd.DataFrame(list(zip(job_title_z, company_name_z, area_z, posted_date_z)), columns=['Role','Company','Area/Zip','Posted Datetime'])
df2

,Role,Company,Area/Zip,Posted Datetime
0,Cleaner,Lidl,West Ealing,a week ago
1,Cleaner,Remora Cleaning,"City of London, London",4 days ago
2,Cleaner,Leaving Care Solutions,London,4 days ago
3,Weekend Cleaner,Deepdene Care Ltd,"Streatham, Greater London",22/07/2021
4,Cleaner,Team CV LTD,"Uxbridge, Greater London",a week ago
...,...,...,...,...
407,School Cook,Kedleston Group Ltd,"E5, Upper Clapton, Greater London",2 days ago
408,Head of Soft Services,MMP Consultancy,London,3 days ago
409,Office Manager,Matchtech,"Brentford, London",today
410,Practice Manager,Remedicare,"Edgware, London",3 days ago
411,Head of Soft Facilities Management Services,Dutton Recruitment,"West London, London",3 days ago

In [19]:
print(df.head(20))
df.shape

               Role                    Company  \
0           Cleaner                     [Lidl]
1           Cleaner          [Remora Cleaning]
2           Cleaner  [Leaving Care Solutions ]
3   Weekend Cleaner        [Deepdene Care Ltd]
4           Cleaner              [Team CV LTD]
5           Cleaner             [Randstad CPE]
6           Cleaner             [Randstad CPE]
7           Cleaner             [Randstad CPE]
8           Cleaner             [Randstad CPE]
9           Cleaner             [Randstad CPE]
10          Cleaner             [Randstad CPE]
11          Cleaner             [Randstad CPE]
12          Cleaner         [Pertemps Enfield]
13          Cleaner   [Service Care Solutions]
14          Cleaner          [Daniel Owen Ltd]
15          Cleaner                      [PRS]
16          Cleaner           [Pinnacle Group]
17          Cleaner    [Stafforce Recruitment]
18          Cleaner        [Berry Recruitment]
19          Cleaner             [Randstad CPE]

                               Area/Zip Posted Datetime
0                                London     5 hours ago
1                City of London, London      4 days ago
2                                London      4 days ago
3             Streatham, Greater London      22/07/2021
4              Uxbridge, Greater London      a week ago
5                       Wembley, London      22/07/2021
6                       Wembley, London      22/07/2021
7                       Mitcham, London      a week ago
8                       Mitcham, London      a week ago
9                     Greenford, London      a week ago
10                    Greenford, London      30/07/2021
11                     Uxbridge, London      29/07/2021
12  City of Westminster, Greater London      21/07/2021
13                    Islington, London      a week ago
14                      Croydon, London      26/07/2021
15                               Poplar     2 weeks ago
16                Brent, Greater London      19/07/2021
17                               Poplar      26/07/2021
18                      Croydon, London      21/07/2021
19                     Uxbridge, London      21/07/2021

(25, 4)

### Creating a CSV file of finding data

In [52]:
df2.to_csv('CV-Library_Portal.csv')